.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.history/**
test-project-js/**
test-project-ignored/**
test-project-map-paths/**
test-project-ts/**
.history/
ToDo.txt
images/logo.svg
images/screenshot.png
find-unused-exports.code-workspace
EXAMPLES.txt
.findUnusedExports.json
node_modules/**
